---
import Typewriter from "../components/Typewriter.tsx";
import "../styles/global.css";
import ProjectView from "../components/ProjectView.jsx";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Portfolio of Daniela Burnaz - Web Developer, Designer, and Game Developer" />
		<title>Daniela Burnaz</title>
		<link rel="icon" type="image/png" href="/img/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet" />
	</head>
	<body class="font-roboto text-neutral-900">
		<main class="md:pl-25">
			<section id="hero" class="relative h-screen w-full overflow-hidden">
				<div class="absolute inset-0 -z-10 bg-cover bg-center" style="background-image: url('/img/fish.gif');"></div>
				<div class="h-full w-full flex flex-col items-center justify-center text-center px-6">
					<h1 class="text-5xl md:text-7xl lg:text-8xl font-extrabold text-white mb-4">
						 Daniela Burnaz
					</h1>
					<Typewriter client:load words={["Web Developer", "Designer", "Game Developer"]} />
				</div>
			</section>

			<section id="about" class="min-h-screen w-full flex items-center py-12 bg-gradient-to-br from-rose-500 to-fuchsia-600" >
				<div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 px-6">
					<div class="bg-pink-500 text-white rounded-2xl p-10 shadow-2xl flex flex-col">
						<h2 class="text-4xl md:text-5xl font-extrabold mb-5">Hi! I'm Daniela</h2>
						<p class="mb-3 text-lg md:text-xl opacity-95">
						  I'm a web developer, designer, and space enthusiast who mixes code with creativity.
						</p>
						<p class="mb-3 text-lg md:text-xl opacity-95">
						  I've built sleek websites, mentored budding designers, interned in robotics,
						  and helped in satellite projects.
						</p>
						<p class="mb-3 text-lg md:text-xl opacity-95">
						  Whether it's crafting intuitive interfaces, experimenting with game design, or crafting
						  award-winning MVPs at hackathons with my teammates, I love turning ideas into things people can see, click, and enjoy.
						</p>
						<p class="text-lg md:text-xl opacity-95 italic">
						  P.S. I like giving hugs 🤗
						</p>
					</div>
					  
				  <div
					class="rounded-2xl bg-cover bg-center shadow-2xl min-h-[40vh] md:min-h-[70vh]"
					style="background-image: url('/img/hug.png');">
				  </div>
				</div>
			  </section>
			  
			<section id="projects" class="relative min-h-screen">
				<div class="z-20 sticky md:static top-0 p-6 bg-white">
					<h2 class="p-1 text-5xl md:text-7xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-400 via-pink-500 to-rose-500 text-center">
						Projects
					</h2>
				</div>
			    <div class="sticky md:absolute inset-0 top-24 w-full h-screen -z-10">
					<div class="w-full h-full">
						<ProjectView client:load />
					</div>
				</div>
    			<div class="relative z-10 p-8 mt-[-20vh] md:-mt-6">
				  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
					  
					<a href="https://www.behance.net/gallery/234760079/Estonian-Student-Satellite" target="_blank" rel="noopener noreferrer"
					class="group block bg-white/80 backdrop-blur-sm rounded-2xl shadow-lg overflow-hidden">
						<div class="relative w-full h-48 lg:h-58 bg-cover bg-center" 
								style="background-image: url('/img/tll.png');">
						</div>
						<div class="p-6">
							<h3 class="text-xl font-bold mb-2">
							Estonian Student Satellite
							</h3>
							<p class="text-neutral-600 text-sm md:text-base">
							Worked on all consumer-facing designs: rollups, social-media posts, posters, and online appearance.
							</p>
						</div>
					</a>

					<a href="https://lewkis.itch.io/bob-bill" target="_blank" rel="noopener noreferrer"
					class="group block bg-white/80 backdrop-blur-sm rounded-2xl shadow-lg overflow-hidden">
						<div class="relative w-full h-48 lg:h-58 bg-cover bg-center" 
								style="background-image: url('/img/park4.png');">
						</div>
						<div class="p-6">
							<h3 class="text-xl font-bold mb-2">Babol</h3>
							<p class="text-neutral-600 text-sm md:text-base">Shoot bubbles at mosquitoes and defeat their queen! I made the
								art and pair programmed in Godot.</p>
						</div>
					</a>

					<a href="https://ifctroll.vercel.app/" target="_blank" rel="noopener noreferrer"
					class="group block bg-white/80 backdrop-blur-sm rounded-2xl shadow-lg overflow-hidden">
						<div class="relative w-full h-48 lg:h-58 bg-cover bg-center" 
								style="background-image: url('/img/ifctroll.png');">
						</div>
						<div class="p-6">
							<h3 class="text-xl font-bold mb-2">IFC Troll</h3>
							<p class="text-neutral-600">I designed the interface of IFCTroll in a way that even people
							  with non-technical backgrounds could choose connectors for their construction projects</p>
						</div>
					</a>

					<a href="https://github.com/danielaburnaz/sketchsphere-network" target="_blank" rel="noopener noreferrer"
					class="group block bg-white/80 backdrop-blur-sm rounded-2xl shadow-lg overflow-hidden">
						<div class="relative w-full h-48 lg:h-58 bg-cover bg-center" 
								style="background-image: url('/img/sphere.png');">
						</div>
						<div class="p-6">
							<h3 class="text-xl font-bold mb-2">SketchSphere network</h3>
							<p class="text-neutral-600">Social network built with Go (backend) and with Next.JS (frontend). It features user authentication with sessions and cookies</p>
						</div>
					</a>

					<a href="https://github.com/danielaburnaz/noodle-stop" target="_blank" rel="noopener noreferrer"
					class="group block bg-white/80 backdrop-blur-sm rounded-2xl shadow-lg overflow-hidden">
						<div class="relative w-full h-48 lg:h-58 bg-cover bg-center" 
								style="background-image: url('/img/noodle.png');">
						</div>
						<div class="p-6">
							<h3 class="text-xl font-bold mb-2">NoodleStop</h3>
							<p class="text-neutral-600">Full-Stack Java Web E-Commerce Application.</p>
						</div>
					</a>

					<a href="https://www.behance.net/gallery/194304049/Clipster" target="_blank" rel="noopener noreferrer"
					class="group block bg-white/80 backdrop-blur-sm rounded-2xl shadow-lg overflow-hidden">
						<div class="relative w-full h-48 lg:h-58 bg-cover bg-center" 
								style="background-image: url('/img/clipster.png');">
						</div>
						<div class="p-6">
							<h3 class="text-xl font-bold mb-2">Clipster</h3>
							<p class="text-neutral-600">AI-generated flashcards app for studying based on pdf/text input</p>
						</div>
					</a>
				  </div>
				</div>
			  </section>

			<section id="cv" class="h-screen w-full flex items-center bg-neutral-900 text-white">
				<div class="container mx-auto px-6">
					<h2 class="text-center text-5xl md:text-7xl font-extrabold mb-8">Work Experience</h2>
					<ul class="divide-y divide-white/20 font-mono text-lg mt-6">
						<li class="py-4">Estonian Student Satellite - Creative Team Lead</li>
						<li class="py-4">Selkirk Sport - FlutterFlow App Developer</li>
						<li class="py-4">Haus Galerii - Frontend Web Developer</li>
						<li class="py-4">Stoc Digital Studio - Frontend Web Developer</li>
						<li class="py-4">Digidisain Klubi - Photoshop Mentor</li>
					</ul>
				</div>
			</section>

			<section id="awards" class="h-screen w-full flex items-center bg-neutral-900 text-white">
				<div class="container mx-auto px-6">
				  <h2 class="text-center text-5xl md:text-7xl font-extrabold mb-8">
					Awards
				  </h2>
				  <ul class="divide-y divide-white/20 font-mono text-lg mt-6">
					<li class="py-4">1st place @ Junction - 2023</li>
					<li class="py-4">2nd place @ Junction - 2024</li>
					<li class="py-4">1st & 2nd place @ ETHPrague - 2024</li>
					<li class="py-4">3rd place @ Global Game Jam - 2025</li>
				  </ul>
				</div>
			</section>			  

			<section id="contact" class="h-screen w-full flex items-center bg-gradient-to-br from-rose-500 to-fuchsia-600 text-white">
				<div class="container mx-auto px-6">
					<h2 class="text-center text-5xl md:text-7xl font-extrabold mb-8">Contact</h2>
					<ul class=" divide-y divide-white/20 font-mono text-lg mt-6">
						<li class="py-4"><a href="https://github.com/danielaburnaz">Github</a></li>
						<li class="py-4"><a href="https://www.linkedin.com/in/danielaburnaz/">LinkedIn</a></li>
						<li class="py-4"><a href="https://www.behance.net/danielaburnaz">Behance</a></li>
					</ul>
				</div>
			</section>

			<footer class="py-8 text-center border-t border-neutral-200">
				<p class="text-lg font-medium">Made with ❤️ by Daniela</p>
				<p class="text-sm text-neutral-600">React + Astro + Spline + TailwindCSS</p>
			</footer>
		</main>
	</body>
</html>
